{
    "presets": [
        [
            "@babel/preset-env",
            {
                "bugfixes": true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-classes"
    ]
}
